################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# temporary analysis artifacts
_*.js
_*.jsonl
_*.json
